In [1]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
print(phonebook)

{'Chris': '555−1111', 'Katie': '555−2222', 'Joanne': '555−3333'}

In [ ]:
phonebook = {'Chris':5551111, 'Katie':552222, 'Joanne':5553333}
print(phonebook)

In [2]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
print(phonebook['Chris'])
print(phonebook['Katie'])

555−1111
555−2222

In [3]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
if 'Chris' in phonebook: 
    print(phonebook['Chris'])

555−1111

In [4]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222'} 
if 'Joanne' not in phonebook: 
    print('Joanne is not found.')

Joanne is not found.

In [5]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222','Joanne':'555−3333'} 
phonebook['Joe'] = '555−0123' 
phonebook['Chris'] = '555−4444' 
print(phonebook)

{'Chris': '555−4444', 'Katie': '555−2222', 'Joanne': '555−3333', 'Joe': '555−0123'}

In [7]:
#Deleting Elements
phonebook = {'Chris':'555−1111', 'Katie':'555−2222','Joanne':'555−3333'} 
del phonebook['Chris']
print(phonebook)

{'Katie': '555−2222', 'Joanne': '555−3333'}

In [8]:
#Getting the Number of Elements in a Dictionary
phonebook = {'Chris':'555−1111', 'Katie':'555−2222'} 
num_items = len(phonebook) 
print(num_items)

2

In [9]:
#Mixing Data Types in a Dictionary
test_scores = { 'Kayla' : [88, 92, 100], 
               'Luis' : [95, 74, 81], 
              'Sophie' : [72, 88, 91], 
               'Ethan' : [70, 75, 78] } 
print(test_scores)

{'Kayla': [88, 92, 100], 'Luis': [95, 74, 81], 'Sophie': [72, 88, 91], 'Ethan': [70, 75, 78]}

In [10]:
print(test_scores['Sophie'])

[72, 88, 91]

In [11]:
kayla_scores = test_scores['Kayla']
print(kayla_scores)

[88, 92, 100]

In [12]:
mixed_up = {'abc':1, 999:'yada yada', (3, 6, 9):[3, 6, 9]}
print(mixed_up)

{'abc': 1, 999: 'yada yada', (3, 6, 9): [3, 6, 9]}

In [13]:
employee = {'name' : 'Kevin Smith', 'id' : 12345, 'payrate' :    25.75 }
print(employee)

{'name': 'Kevin Smith', 'id': 12345, 'payrate': 25.75}

In [14]:
# Creating an Empty Dictionary
phonebook = {} 
phonebook['Chris'] = '555−1111' 
phonebook['Katie'] = '555−2222' 
phonebook['Joanne'] = '555−3333' 
phonebook

{'Chris': '555−1111', 'Katie': '555−2222', 'Joanne': '555−3333'}

In [15]:
# Using the for Loop to Iterate over a Dictionary
phonebook = {'Chris':'555−1111', 
                  'Katie':'555−2222', 
                  'Joanne':'555−3333'} 
for key in phonebook: 
    print(key)

Chris
Katie
Joanne

In [55]:
# Using the for Loop to Iterate over a Dictionary
phonebook = {'Chris':'555−1111', 
                  'Katie':'555−2222', 
                  'Joanne':'555−3333'} 
for key in phonebook: 
    print(key)

Chris
Katie
Joanne

In [54]:
# Using the for Loop to Iterate over a Dictionary
phonebook = {'Chris':'555−1111', 
                  'Katie':'555−2222', 
                  'Joanne':'555−3333'} 
for k in phonebook: 
    print(phonebook[k])

555−1111
555−2222
555−3333

In [56]:
# Some Dictionary Methods
# The clear Method
phonebook = {'Chris':'555−1111', 'Katie':'555−2222'} 
phonebook.clear() 
print(phonebook)

{}

In [ ]:
#The get Method
#dictionary.get(key, default)
#key is a key to search for in the dictionary, and default is a default value to return 
#if the key is not found

In [17]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222'} 
value = phonebook.get('Katie', 'Entry not found') 
print(value) 
value = phonebook.get('Andy', 'Entry not found') 
print(value)

555−2222
Entry not found

In [18]:
#The items Method
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
for key, value in phonebook.items(): 
    print(key, value)

Chris 555−1111
Katie 555−2222
Joanne 555−3333

In [57]:
#The items Method
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
for k, v in phonebook.items(): 
    print(k, v)

Chris 555−1111
Katie 555−2222
Joanne 555−3333

In [19]:
#The keys Method
phonebook = {'Chris':'555−1111', 
                  'Katie':'555−2222', 
                  'Joanne':'555−3333'} 
for key in phonebook.keys(): 
    print(key)

Chris
Katie
Joanne

In [21]:
#The pop Method
phonebook = {'Chris':'555−1111', 
                  'Katie':'555−2222', 
                  'Joanne':'555−3333'} 
phone_num = phonebook.pop('Chris', 'Entry not found') 
print(phone_num)
print(phonebook)

555−1111
{'Katie': '555−2222', 'Joanne': '555−3333'}

In [62]:
#The popitem Method
phonebook = {'Chris':'555−1111', 
                  'Katie':'555−2222', 
                  'Joanne':'555−3333'} 
print(phonebook) 
key, value = phonebook.popitem() #key is assigned a randomly selected key from the dictionary, 
#and value is assigned the value associated with that key. The key-value pair is removed from 
#the dictionary
print(key, value) 
print(phonebook)

{'Chris': '555−1111', 'Katie': '555−2222', 'Joanne': '555−3333'}
Joanne 555−3333
{'Chris': '555−1111', 'Katie': '555−2222'}

In [63]:
#The values Method
phonebook = {'Chris':'555−1111', 
                  'Katie':'555−2222', 
                  'Joanne':'555−3333'} 
for val in phonebook.values(): 
    print(val)

555−1111
555−2222
555−3333

In [64]:
# Using the for Loop to Iterate over a Dictionary
phonebook = {'Chris':'555−1111', 
                  'Katie':'555−2222', 
                  'Joanne':'555−3333'} 
for k in phonebook: 
    print(phonebook[k])

555−1111
555−2222
555−3333

In [65]:
#Creating a set
myset1 = set(['a', 'b', 'c'])
myset2 = set(['one', 'two', 'three'])
print(myset1)
print(myset2)

{'a', 'c', 'b'}
{'two', 'one', 'three'}

In [26]:
myset = set('abc')
print(myset)

{'a', 'c', 'b'}

In [27]:
myset = set('aaabc')
print(myset)

{'a', 'c', 'b'}

In [66]:
#Getting the Number of Elements in a Set
myset = set([1, 2, 3, 4, 5]) 
print(len(myset))

5

In [29]:
#Adding and Removing Elements
myset = set() 
myset.add(1) 
myset.add(2) 
myset.add(3) 
print(myset) 
myset.add(2) 
print(myset)

{1, 2, 3}
{1, 2, 3}

In [30]:
myset = set([1, 2, 3]) 
myset.update([4, 5, 6]) 
myset

{1, 2, 3, 4, 5, 6}

In [31]:
set1 = set([1, 2, 3]) 
set2 = set([8, 9, 10]) 
set1.update(set2) 
print(set1)
print(set2)

{1, 2, 3, 8, 9, 10}
{8, 9, 10}

In [32]:
myset = set([1, 2, 3]) 
myset.update('abc') 
myset

{1, 2, 3, 'a', 'b', 'c'}

In [33]:
myset = set([1, 2, 3, 4, 5]) 
print(myset) 
 
myset.remove(1) 
print(myset) 
 
myset.discard(5) 
print(myset) 
myset.discard(99) # will not raise a keyerror exception
myset.remove(99) #The remove method raises a KeyError exception, but the discard method does 
#not raise an exception

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{2, 3, 4}

KeyError: 99

In [35]:
myset = set([1, 2, 3, 4, 5]) 
print(myset) 
myset.clear() 
print(myset)

{1, 2, 3, 4, 5}
set()

In [36]:
#Using the for Loop to Iterate over a Set
myset = set(['a', 'b', 'c']) 
for val in myset: 
    print(val)

a
c
b

In [37]:
# Using the in and not in Operators to Test for a Value in a Set
myset = set([1, 2, 3]) 
if 1 in myset: 
    print('The value 1 is in the set.')

The value 1 is in the set.

In [38]:
myset = set([1, 2, 3]) 
if 99 not in myset: 
    print('The value 99 is not in the set.')

The value 99 is not in the set.

In [39]:
#Finding the Union of Sets
set1 = set([1, 2, 3, 4]) 
set2 = set([3, 4, 5, 6]) 
set3 = set1.union(set2) 
print(set3)

{1, 2, 3, 4, 5, 6}

In [41]:
set1 = set([1, 2, 3, 4]) 
set2 = set([3, 4, 5, 6]) 
set3 = set1 | set2 
set3

{1, 2, 3, 4, 5, 6}

In [40]:
#Finding the Intersection of Sets
set1 = set([1, 2, 3, 4]) 
set2 = set([3, 4, 5, 6]) 
set3 = set1.intersection(set2) 
set3

{3, 4}

In [42]:
#Finding the Intersection of Sets
set1 = set([1, 2, 3, 4]) 
set2 = set([3, 4, 5, 6]) 
set3 = set1 & set2 
set3

{3, 4}

In [43]:
#Finding the Difference of Sets
#the elements that appear in set1 but do not appear in set2
set1 = set([1, 2, 3, 4]) 
set2 = set([3, 4, 5, 6]) 
set3 = set1.difference(set2) 
set3

{1, 2}

In [45]:
set1 = set([1, 2, 3, 4]) 
set2 = set([3, 4, 5, 6]) 
set3 = set1 - set2
set3

{1, 2}

In [46]:
#Finding the Symmetric Difference of Sets
#The method returns a set that contains the elements that are found in either 
#set1 or set2 but not both sets
set1 = set([1, 2, 3, 4]) 
set2 = set([3, 4, 5, 6]) 
set3 = set1.symmetric_difference(set2) 
set3

{1, 2, 5, 6}

In [48]:
set1 = set([1, 2, 3, 4]) 
set2 = set([3, 4, 5, 6]) 
set3 = set1 ^ set2 
set3

{1, 2, 5, 6}

In [51]:
# Finding Subsets and Supersets
set1 = set([1, 2, 3, 4])
set2 = set([2, 3])
print(set2.issubset(set1)) #The method returns True if set2 is a subset of set1
print(set1.issuperset(set2))#The method returns True if set1 is a superset of set2

True
True

In [52]:
#You can also use the <= operator to determine whether one set is a subset of another 
#and the >= operator to determine whether one set is a superset of another.
set1 = set([1, 2, 3, 4]) 
set2 = set([2, 3]) 
print(set1 >= set2) 
print(set1 <= set2)

True
False