In [2]:
print('Nudge nudge')
print('Wink wink')
print('Know what I mean?')

Nudge nudge
Wink wink
Know what I mean?

In [3]:
print("Nudge nudge")
print("Wink wink")
print("Know what I mean?")

Nudge nudge
Wink wink
Know what I mean?

In [4]:
print('Your assignment is to read "Hamlet" by tomorrow.')

Your assignment is to read "Hamlet" by tomorrow.

In [5]:
print("""I'm reading "Hamlet" tonight.""")

I'm reading "Hamlet" tonight.

In [6]:
print("""One
Two
Three""")

One
Two
Three

In [9]:
print("""One
Two
Three""")

One
Two
Three

In [10]:
# This program displays a person's
# name and address.
print('Kate Austen')
print('123 Full Circle Drive')
print('Asheville, NC 28899')

Kate Austen
123 Full Circle Drive
Asheville, NC 28899

In [ ]:
print('Kate Austen')             # Display the name.

In [14]:
age = 29
print(age)

29

In [18]:
age = 29
print(age)
print(age+1) #arithmatic operator

29
30

In [16]:
age = "29"
print(age)
print(age+1)

29

TypeError: can only concatenate str (not "int") to str

In [17]:
age = "29" #assignment statement
print(age)
print(age+"1") #concatenation operator

29
291

In [19]:
25=age

SyntaxError: can't assign to literal (<ipython-input-19-192cfdbded9f>, line 1)

In [20]:
age=25

In [21]:
# This program demonstrates a variable.
room = 503
print('I am staying in room number')
print(room)

I am staying in room number
503

In [22]:
# This program demonstrates a variable.
room = 503
print('I am staying in room number'+ room)

TypeError: can only concatenate str (not "int") to str

In [23]:
# This program demonstrates a variable.
room = 503
print('I am staying in room number'+ 'room')

I am staying in room numberroom

In [24]:
# This program demonstrates a variable.
room = 503
print('I am staying in room number''room')

I am staying in room numberroom

In [25]:
# This program demonstrates a variable.
room = 503
print('I am staying in room number'+ str(room))

I am staying in room number503

In [27]:
# This program demonstrates a variable.
room = "503"
print('I am staying in room number '+ room)

I am staying in room number 503

In [28]:
# This program demonstrates a variable.
room = "503"
print('I am staying in room number:'+ room)

I am staying in room number:503

In [29]:
temperature = 74.5 # Create a variable
print(Temperature)  # Error! Inconsistent use of case

SyntaxError: invalid character in identifier (<ipython-input-29-a255355f291d>, line 2)

In [31]:
# This program demonstrates a variable.
room = 503
print('I am staying in room number', room)

I am staying in room number 503

In [32]:
#Variable that has been assigned to one type can be reassigned to another type
grade=95
print(grade)
grade="A"
print(grade)

95
A

In [33]:
name = input('What is your name? ')
print("The entered name is", name)

What is your name? Mohammad
The entered name is Mohammad

In [35]:
number1 = input('What is the first number? ')
number2 = input('What is the second number? ')
print("The entered name is", (number1+number2))

What is the first number? 6
What is the second number? 7
The entered name is 67

In [38]:
number1 = input('What is the first number? ')
number2 = input('What is the second number? ')
print("The entered name is", (int(number1)+int(number2)))

What is the first number? 8
What is the second number? 9
The entered name is 17

In [42]:
number1 = input('What is the first number? ')
number2 = input('What is the second number? ')
print("The entered name is", (float(number1)+float(number2)))

What is the first number? 5.6
What is the second number? 7.8
The entered name is 13.399999999999999

In [41]:
number1 = input('What is the first number? ')
number2 = input('What is the second number? ')
print("The entered name is", (double(number1)+double(number2)))

What is the first number? 3.4
What is the second number? 2.3

NameError: name 'double' is not defined

In [44]:
1  # Assign a value to the salary variable.
salary = 2500.0
# Assign a value to the bonus variable.
bonus = 1200.0

# Calculate the total pay by adding salary
# and bonus. Assign the result to pay.
pay = salary + bonus

# Display the pay.
print('Your pay is', pay)

Your pay is 3700.0

In [45]:
print(5 / 2 )

2.5

In [46]:
print(5 // 2 )

2

In [47]:
print(5%2)

1

In [48]:
a=4
b=2
result = (a + b) / 4
print(result)

1.5

In [49]:
a=4
b=2
result = a + b / 4
print(result)

4.5

In [50]:
# Get three test scores and assign them to the
# test1, test2, and test3 variables.
test1 = float(input('Enter the first test score: '))
test2 = float(input('Enter the second test score: '))
test3 = float(input('Enter the third test score: '))

# Calculate the average of the three scores
# and assign the result to the average variable.
average = (test1 + test2 + test3) / 3.0

# Display the average.
print('The average score is', average)

Enter the first test score: 25
Enter the second test score: 27
Enter the third test score: 29
The average score is 27.0

In [51]:
x=2.5
y=7
z=x+y
print(z)

9.5

In [52]:
var1=8
var2=3
var3=7
var4=2
result = var1 * 2 + var2 * 3 + \
         var3 * 4 + var4 * 5
print(result)

63

In [55]:
monday=2000
tuesday=5000
Wednesday=7000
print("Monday's sales are", monday,
      "and Tuesday's sales are", tuesday,
      "and Wednesday's sales are", Wednesday)

Monday's sales are 2000 and Tuesday's sales are 5000 and Wednesday's sales are 7000

In [56]:
print('One', end=' ')
print('Two', end=' ')
print('Three')

One Two Three

In [57]:
print('One')
print('Two')
print('Three')

One
Two
Three

In [58]:
print('One', 'Two', 'Three')

One Two Three

In [59]:
print('One', 'Two', 'Three', sep='*')

One*Two*Three

In [60]:
print('One\nTwo\nThree')

One
Two
Three

In [61]:
print('One\tTwo\tThree')

One	Two	Three

In [62]:
print(format(12345.6789, '.2f'))

12345.68

In [63]:
print(format(12345.6789, '.2e'))

1.23e+04