# Module 1: Python Basics

Hi Class,

This tutorial will teach you the basics of Python, which is required by the course. It is not necessary to have any prior programming experience.

The tool you are using is Google Colab. It allows anybody to write and execute arbitrary python code through the browser, and is especially well suited to business/data analytics and education. 

Colab includes both Text Cells and Code Cells. You can double click a cell to edit it. This cell is a Text Cell. Please go through all the following cells, read the text, and run the code. You can fold/unfold text or execute code by clicking the arrow buton on the left of cell. 

Note that the best way to learn is to get your hands dirty! thus, feel free to modify the code and check whether the results make sense to you or not.

If you have any questions, post them on the Canvas Discussion board. 

Happy learning!

## Objectives


1. Execute	Python code.
2. Explain Python syntax, variables, data types, and lists.
3. Call Python functions.
2. Load and use the Python library.

## What is Python?


Python is a  general-purpose programming language, which is also very popular in Data Science. Python has a simple syntax similar to the English language, which allows you to express powerful ideas in fewer lines of code while being very readable.

## Why Python?


Python can take your marketing analytics to the next level. It helps marketing professionals get more insights from data, make better-informed data-driven decisions, automate many routine activities, and increase the ROI from the marketing campaigns.

## Execute code


Run the following code, and you will print a message on the screen!

`print()` is a function that prints the specified message to the screen. In Python, we often call functions to achieve various goals.

In [ ]:
print("Hello, World!")

Hello, World!

## Python Indentation


Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

The number of spaces is up to you as a programmer, but it has to be at least one. You can remove the space in the following cell and see what will happen.

Note that you have to use the same number of spaces in the same block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

The meaning of the above code is straightforward. We will discuss more the Python Conditions and If statements later.

## Comments
Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment.
print("Hello, World!")

Hello, World!

**Use as many useful comments as you can in your program to:**

*   explain assumptions
*   explain important details
*   explain problems you're trying to solve
*   explain problems you're trying to overcome in your program, etc.

## Python Variables
In Python, variables are created when you assign a value to it. Variables are containers for storing data values.

In [ ]:
x = 5
y = "Hello, World!"

You can get the data type of a variable with the `type()` function.

In [ ]:
x = 5
y = "John"
print(type(x)) # integer data type
print(type(y)) # string data type

<class 'int'>
<class 'str'>

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
# is the same as
x = 'John'

You can specify multi-line strings using triple quotes - (""" or '''). You can use single quotes and double quotes freely within the triple quotes. An example is:

In [1]:
multiLineString='''This is a multi-line string. This is the first line.
This is the second line.
"What's your name?," I asked.
He said "Bond, James Bond."
'''
print(multiLineString)

This is a multi-line string. This is the first line.
This is the second line.
"What's your name?," I asked.
He said "Bond, James Bond."

Note that Variable names are **case-sensitive**. The following code will create two variables:

In [2]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

## Python Numbers

The basic numeric types in Python are:

- int
- float

Variables of numeric types are created when you assign a value to them:

In [ ]:
x = 1    # int
y = 2.8  # float

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

## Python String

Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello'` is the same as `"hello"`.

As you saw before, you can display a string literal with the `print()` function.

### Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

Note that the index **starts from 0**, and the end index is not included.

In [ ]:
#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

### Slice From the Start
By leaving out the start index, the range will start at the first character:

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

### Slice To the End
By leaving out the end index, the range will go to the end:

In [ ]:
# Get the characters from position 2, and all the way to the end:
b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing
Use negative indexes to start the slice from the end of the string.

The following code get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

### String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

## Python Booleans

**Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Python Comparison Operators

|Operator|	Name|	Example|
|---|---|---|
|==|	Equal|	x == y|	
|!=	|Not equal|	x != y	
|>	|Greater than|	x > y	
|<	|Less than|	x < y	
|>=	|Greater than or equal to|	x >= y	
|<=	|Less than or equal to|	x <= y

## Python List data structure
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

### List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

### Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [ ]:
# Lists allow duplicate values:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### List Length
To determine how many items a list has, use the `len()` function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### List Items - Data Types
List items can be of any data type:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

In [3]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

### List append() Method

The `append()` method appends an element to the end of the list.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

**Tuple**

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.

Tuples are defined by specifying items separated by commas within an optional pair of parentheses.

Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values (i.e. the tuple of values used) will not change.

In [1]:
# I would recommend always using parentheses
# to indicate start and end of tuple
# even though parentheses are optional.
# Explicit is better than implicit.
zoo = ('python', 'elephant', 'penguin')
print('Number of animals in the zoo is', len(zoo))

new_zoo = 'monkey', 'camel', zoo    # parentheses not required but are a good idea
print('Number of cages in the new zoo is', len(new_zoo))
print('All animals in new zoo are', new_zoo)
print('Animals brought from old zoo are', new_zoo[2])
print('Last animal brought from old zoo is', new_zoo[2][2]) # we access the third item within the third item in the new_zoo tuple
print('Number of animals in the new zoo is',
      len(new_zoo)-1+len(new_zoo[2]))

Number of animals in the zoo is 3
Number of cages in the new zoo is 3
All animals in new zoo are ('monkey', 'camel', ('python', 'elephant', 'penguin'))
Animals brought from old zoo are ('python', 'elephant', 'penguin')
Last animal brought from old zoo is penguin
Number of animals in the new zoo is 5

**Sequence**

Lists, tuples and strings are examples of sequences, but what are sequences and what is so special about them?

The major features are membership tests, (i.e. the in and not in expressions) and indexing operations, which allow us to fetch a particular item in the sequence directly.

The three types of sequences mentioned above - lists, tuples and strings, also have a slicing operation which allows us to retrieve a slice of the sequence i.e. a part of the sequence.

In [2]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
name = 'swaroop'

# Indexing or 'Subscription' operation #
print('Item 0 is', shoplist[0])
print('Item 1 is', shoplist[1])
print('Item 2 is', shoplist[2])
print('Item 3 is', shoplist[3])
print('Item -1 is', shoplist[-1])
print('Item -2 is', shoplist[-2])
print('Character 0 is', name[0])

# Slicing on a list #
print('Item 1 to 3 is', shoplist[1:3])
print('Item 2 to end is', shoplist[2:])
print('Item 1 to -1 is', shoplist[1:-1])
print('Item start to end is', shoplist[:])

# Slicing on a string #
print('characters 1 to 3 is', name[1:3])
print('characters 2 to end is', name[2:])
print('characters 1 to -1 is', name[1:-1])
print('characters start to end is', name[:])

Item 0 is apple
Item 1 is mango
Item 2 is carrot
Item 3 is banana
Item -1 is banana
Item -2 is carrot
Character 0 is s
Item 1 to 3 is ['mango', 'carrot']
Item 2 to end is ['carrot', 'banana']
Item 1 to -1 is ['mango', 'carrot']
Item start to end is ['apple', 'mango', 'carrot', 'banana']
characters 1 to 3 is wa
characters 2 to end is aroop
characters 1 to -1 is waroo
characters start to end is swaroop

## Python Conditions and If statements

An "if statement" is written by using the `if` keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

### Elif
The `elif` keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

### Else
The `else` keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### And
The `and` keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
# Test if a is greater than b, AND if c is greater than a:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### Or
The `or` keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
# Test if a is greater than b, OR if a is greater than c:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## Python For Loops

A for loop is used for iterating over a sequence (sucha as a list).

With the for loop we can execute a set of statements, once for each item in a list.

In [ ]:
# Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
# Loop through the letters in the word "banana":
for x in "banana":
  print(x)

b
a
n
a
n
a

Python's `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [ ]:
# Create a sequence of numbers from 3 to 5, and print each item in the sequence:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

The while Statement
The while statement allows you to repeatedly execute a block of statements as long as a condition is true. A while statement is an example of what is called a looping statement. A while statement can have an optional else clause.

In [8]:
number = 23
running = True

while running:
    guess = int(input('Enter an integer : '))

    if guess == number:
        print('Congratulations, you guessed it.')
        # this causes the while loop to stop
        running = False
    elif guess < number:
        print('No, it is a little higher than that.')
    else:
        print('No, it is a little lower than that.')
else:
    print('The while loop is over.')
    # Do anything else you want to do here

print('Done')

Enter an integer : 50
No, it is a little lower than that.
Enter an integer : 25
No, it is a little lower than that.
Enter an integer : 23
Congratulations, you guessed it.
The while loop is over.
Done

**The break Statement**
The break statement is used to break out of a loop statement i.e. stop the execution of a looping statement, even if the loop condition has not become False or the sequence of items has not been completely iterated over.

An important note is that if you break out of a for or while loop, any corresponding loop else block is not executed.

In [9]:
while True:
    s = input('Enter something : ')
    if s == 'quit':
        break
    print('Length of the string is', len(s))
print('Done')

Enter something : hello
Length of the string is 5
Enter something : python
Length of the string is 6
Enter something : quite
Length of the string is 5
Enter something : quit
Done

**The continue Statement**
The continue statement is used to tell Python to skip the rest of the statements in the current loop block and to continue to the next iteration of the loop.

In [10]:
while True:
    s = input('Enter something : ')
    if s == 'quit':
        break
    if len(s) < 3:
        print('Too small')
        continue
    print('Input is of sufficient length')
    # Do other kinds of processing here...

Enter something : er
Too small
Enter something : python
Input is of sufficient length
Enter something : quit

## Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

### Creating a Function
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

### Calling a Function
To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

### Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [11]:
def print_max(a, b):
    if a > b:
        print(a, 'is maximum')
    elif a == b:
        print(a, 'is equal to', b)
    else:
        print(b, 'is maximum')

# directly pass literal values
print_max(3, 4)

x = 5
y = 7

# pass variables as arguments
print_max(x, y)

4 is maximum
7 is maximum

In [12]:
#Default Argument Values
def say(message, times=1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

**The return statement**
The return statement is used to return from a function i.e. break out of the function. We can optionally return a value from the function as well.

In [13]:
def maximum(x, y):
    if x > y:
        return x
    elif x == y:
        return 'The numbers are equal'
    else:
        return y

print(maximum(2, 3))

3

In [14]:
# This program demonstrates the in operator used with a list.
def main():
    # Create a list of product numbers.
    prod_nums = ['V475', 'F987', 'Q143', 'R688']

    # Get a product number to search for.
    search = input('Enter a product number: ')

    # Determine whether the product number is in the list.
    if search in prod_nums:
        print(search, 'was found in the list.')
    else:
        print(search, 'was not found in the list.')

# Call the main function.
main()

Enter a product number: F987
F987 was found in the list.

In [15]:
# This program demonstrates how the append
# method can be used to add items to a list.

def main():
    # First, create an empty list.
    name_list = []

    # Create a variable to control the loop.
    again = 'Y'
    
    # Add some names to the list.
    while again.upper() == 'Y':
        # Get a name from the user.
        name = input('Enter a name: ')

        # Append the name to the list.
        name_list.append(name)

        # Add another one?
        print('Do you want to add another name?')
        again = input('y = yes, anything else = no: ')
        print()

    # Display the names that were entered.
    print('Here are the names you entered.')
    
    for name in name_list:
        print(name)

# Call the main function.
main()

Enter a name: Mohammad
Do you want to add another name?
y = yes, anything else = no: y

Enter a name: Jack
Do you want to add another name?
y = yes, anything else = no: n

Here are the names you entered.
Mohammad
Jack