In [16]:
#Creating a dataframe from a dictionary
import pandas as pd
data = {'color' : ['blue','green','yellow','red','white'],
                     'object' : ['ball','pen','pencil','paper','mug'],
                     'price' : [1.2,1.0,0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [32]:
#Creating a dataframe from a subset of dictionary
frame2 = pd.DataFrame(data, columns=['object','price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [33]:
#Change the default indexes
frame2 = pd.DataFrame(data, index=['one','two','three','four','five'])
frame2

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [2]:
#create a matrix of values quickly and easily using numpy
import pandas as pd
import numpy as np
frame3 = pd.DataFrame(np.arange(16).reshape((4,4)),
         index=['red','blue','yellow','white'],
         columns=['ball','pen','pencil','paper'])
frame3

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [3]:
#Getting columns 
frame3.columns

Index(['ball', 'pen', 'pencil', 'paper'], dtype='object')

In [4]:
frame3.index

Index(['red', 'blue', 'yellow', 'white'], dtype='object')

In [5]:
frame3.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [17]:
frame3

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [6]:
frame3['ball']

red        0
blue       4
yellow     8
white     12
Name: ball, dtype: int32

In [7]:
# Another way to do this is to use the column name as an attribute of the instance of the dataframe.
frame3.ball

red        0
blue       4
yellow     8
white     12
Name: ball, dtype: int32

In [9]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [35]:
# use the loc attribute with the index value of the row that you want to extract
frame.loc[2]

color     yellow
object    pencil
price        0.6
Name: 2, dtype: object

In [10]:
frame3

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [11]:
frame3.loc[2]

KeyError: 2

In [39]:
frame3

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [37]:
frame3.loc['blue']

ball      4
pen       5
pencil    6
paper     7
Name: blue, dtype: int32

In [12]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [41]:
#To select multiple rows, you specify an array with the sequence of rows to insert
frame.loc[[2,4]]

    color  object  price
2  yellow  pencil    0.6
4   white     mug    1.7

In [13]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [42]:
#If you need to extract a portion of a DataFrame
frame[1:3]

    color  object  price
1   green     pen    1.0
2  yellow  pencil    0.6

In [43]:
#Finally, if what you want to achieve is a single value within a dataframe,you first use the name of the column 
#and then the index or the label of the row.
frame['object'][3]

'paper'

In [14]:
#Assigning Values
#One of the best features of the data structures of pandas is their high flexibility.
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [15]:
frame['new'] = 12
frame

    color  object  price  new
0    blue    ball    1.2   12
1   green     pen    1.0   12
2  yellow  pencil    0.6   12
3     red   paper    0.9   12
4   white     mug    1.7   12

In [46]:
frame['new'] = [3.0,1.3,2.2,0.8,1.1]
frame

    color  object  price  new
0    blue    ball    1.2  3.0
1   green     pen    1.0  1.3
2  yellow  pencil    0.6  2.2
3     red   paper    0.9  0.8
4   white     mug    1.7  1.1

In [47]:
ser = pd.Series(np.arange(5))
ser

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [48]:
frame['new'] = ser
frame

    color  object  price  new
0    blue    ball    1.2    0
1   green     pen    1.0    1
2  yellow  pencil    0.6    2
3     red   paper    0.9    3
4   white     mug    1.7    4

In [49]:
#To change a single value, you simply select the item and give it the new value. You first use the name of the column and 
#then the index or the label of the row.
frame['price'][2] = 3.3
frame

C:\Users\ramah\Anaconda2\envs\ipykernel_py3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    color  object  price  new
0    blue    ball    1.2    0
1   green     pen    1.0    1
2  yellow  pencil    3.3    2
3     red   paper    0.9    3
4   white     mug    1.7    4